<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>Gestion_Salon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>servlets.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingUpServlet</display-name>
    <servlet-name>SingUpServlet</servlet-name>
    <servlet-class>servlets.SingUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingUpServlet</servlet-name>
    <url-pattern>/SingUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginC</display-name>
    <servlet-name>LoginC</servlet-name>
    <servlet-class>servlets.LoginC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginC</servlet-name>
    <url-pattern>/LoginC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLog</display-name>
    <servlet-name>ClientLog</servlet-name>
    <servlet-class>servlets.ClientLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLog</servlet-name>
    <url-pattern>/ClientLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>servlets.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservS</display-name>
    <servlet-name>ReservS</servlet-name>
    <servlet-class>servlets.ReservS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservS</servlet-name>
    <url-pattern>/ReservS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCoiff</display-name>
    <servlet-name>DeleteCoiff</servlet-name>
    <servlet-class>servlets.DeleteCoiff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCoiff</servlet-name>
    <url-pattern>/DeleteCoiff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEpilation</display-name>
    <servlet-name>DeleteEpilation</servlet-name>
    <servlet-class>servlets.DeleteEpilation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEpilation</servlet-name>
    <url-pattern>/DeleteEpilation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEsth</display-name>
    <servlet-name>DeleteEsth</servlet-name>
    <servlet-class>servlets.DeleteEsth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEsth</servlet-name>
    <url-pattern>/DeleteEsth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addServletEpilation</display-name>
    <servlet-name>addServletEpilation</servlet-name>
    <servlet-class>servlets.addServletEpilation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addServletEpilation</servlet-name>
    <url-pattern>/addServletEpilation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEsth</display-name>
    <servlet-name>AddEsth</servlet-name>
    <servlet-class>servlets.AddEsth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEsth</servlet-name>
    <url-pattern>/AddEsth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServletEsth</display-name>
    <servlet-name>AddServletEsth</servlet-name>
    <servlet-class>servlets.AddServletEsth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServletEsth</servlet-name>
    <url-pattern>/AddServletEsth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotServ</display-name>
    <servlet-name>ForgotServ</servlet-name>
    <servlet-class>servlets.ForgotServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotServ</servlet-name>
    <url-pattern>/ForgotServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServ</display-name>
    <servlet-name>SearchServ</servlet-name>
    <servlet-class>servlets.SearchServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServ</servlet-name>
    <url-pattern>/SearchServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterClientServlet</display-name>
    <servlet-name>AjouterClientServlet</servlet-name>
    <servlet-class>servlets.AjouterClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterClientServlet</servlet-name>
    <url-pattern>/AjouterClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeServlet</display-name>
    <servlet-name>AddEmployeServlet</servlet-name>
    <servlet-class>servlets.AddEmployeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeServlet</servlet-name>
    <url-pattern>/AddEmployeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>servlets.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearcheEmploye</display-name>
    <servlet-name>SearcheEmploye</servlet-name>
    <servlet-class>servlets.SearcheEmploye</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearcheEmploye</servlet-name>
    <url-pattern>/SearcheEmploye</url-pattern>
  </servlet-mapping>
</web-app>